<h1>Edit Your Photo</h1>

<form action="/update_photo/<%= @photo.id %>">
  
  <label for="url">
    Image URL
  </label>
  <input id="url" type="text" name="the_source" value="<%= @photo.source %>">

  <label for="caption">
    The Caption
  </label>
  <input id="caption" type="text" name="the_caption" value="<%= @photo.caption %>">
  
  <button>Update Photo</button>

</form>
