<div>
  <img src="<%= @photo.source %>">
  <p>
    <%= @photo.caption %>
  </p>

  <%= time_ago_in_words(@photo.created_at) %>

  <div>
    <button><a href ="https://photogram-golden-seven-cywang89.c9users.io/photos">Back</a></button>
  </div>
  
  <div>
    <button><a href ="https://photogram-golden-seven-cywang89.c9users.io/photos/<%= @photo.id %>/edit">Edit</a></button>
  </div>
  
  <div>
    <button><a href ="#">Delete</a></button>
  </div>
</div>
